@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    background-color: #E8D8D8;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 9vh;
    background: #5D405A;
    color: white;



}

.nav-right {
    margin-right: 50vh;
    font-size: 15px;
    font-family: 'SF Pro Display', sans-serif;
}

.nav {
    font-family: 'SF Pro Display', sans-serif;


}

.ul-nav {
    display: flex;
    gap: 50px;
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 45vh;
}

li:hover {
    background-color: #F2C5CC 
}

li {
    padding: 25px;
    border-radius: 20px;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .img-presentation {
    flex: 0 0 50%;
    margin-top: 10vh;
  }
  
  .img-presentation > img {
    width: 90%;
  }
  
  .presentation-text {
    flex: 0 0 50%;
    text-align: left;
    margin-left: 20vh;
    font-size: 60px;
    gap: 20vh;
    color: #5D405A;
  }

.button-presentation {
    padding: 15px;
    border: none;
    font-size: 20px;
    margin-top: 12vh;
    background-color: #5D405A;
    color: white;
    border-radius: 15px;
}

.button-presentation:hover{
    background-color:#5D405A
}


.text-about {
    margin-top: 20vh;
    display: flex;
    justify-content:center;
    margin-left: 40vh;
    align-items: center;
    height: 70vh;
    max-width: 1200px;
    color: #5D405A;
  }
  
  .text-about p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    max-width: 100%;
    font-size: 50px;
  }
  